<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
<description>sistemas</description>
<display-name> Prueba </display-name>
<welcome-file-list>
   <welcome-file>index</welcome-file>
</welcome-file-list>
<error-page>
   <error-code>404</error-code>
   <location>/404.html</location>
 </error-page>
 <error-page>
   <error-code>500</error-code>
   <location>/500.html</location>
 </error-page>
  <error-page>
   <error-code>401</error-code>
   <location>/401.html</location>
</error-page>
<servlet>
	<servlet-name>ComprobarUsuario</servlet-name>
	<servlet-class>module.ComprobarUsuario</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>ComprobarUsuario</servlet-name>
	<url-pattern>/ComprobarUsuario.do</url-pattern>
</servlet-mapping>
<servlet>
	<servlet-name>ComprobarSesion</servlet-name>
	<servlet-class>module.ComprobarSesion</servlet-class>
</servlet>
<servlet>
	<servlet-name>RegistrarUsuario</servlet-name>
	<servlet-class>module.RegistrarUsuario</servlet-class>
</servlet>
<servlet>
	<servlet-name>ComprobarToken</servlet-name>
	<servlet-class>module.ComprobarToken</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>ComprobarToken</servlet-name>
	<url-pattern>/ComprobarToken.html</url-pattern>
</servlet-mapping>
<servlet-mapping>
	<servlet-name>ComprobarSesion</servlet-name>
	<url-pattern>/ComprobarSesion.do</url-pattern>
</servlet-mapping>
<servlet>
	<servlet-name>ComprobarSeguridad</servlet-name>
	<servlet-class>module.ComprobarSeguridad</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>ComprobarSeguridad</servlet-name>
	<url-pattern>/ComprobarSeguridad.do</url-pattern>
</servlet-mapping>
<servlet>
	<servlet-name>ComprobarSeguridadCarteles</servlet-name>
	<servlet-class>module.ComprobarSeguridadCarteles</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>ComprobarSeguridadCarteles</servlet-name>
	<url-pattern>/ComprobarSeguridadCarteles.do</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>ObtenerDatosQuiz</servlet-name>
	<servlet-class>module.ObtenerDatosQuiz</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>ObtenerDatosQuiz</servlet-name>
	<url-pattern>/ObtenerDatosQuiz</url-pattern>
</servlet-mapping>
<servlet>
	<servlet-name>Upload</servlet-name>
	<servlet-class>module.Upload</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>Upload</servlet-name>
	<url-pattern>/Upload</url-pattern>
</servlet-mapping>
<servlet>
	<servlet-name>CerrarSesion</servlet-name>
	<servlet-class>module.CerrarSesion</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>CerrarSesion</servlet-name>
	<url-pattern>/CerrarSesion.do</url-pattern>
</servlet-mapping>
<servlet>
	<servlet-name>ComprobarSeguridadTabla</servlet-name>
	<servlet-class>module.ComprobarSeguridadTabla</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>ComprobarSeguridadTabla</servlet-name>
	<url-pattern>/ComprobarSeguridadTabla.do</url-pattern>
</servlet-mapping>
<servlet>
	<servlet-name>ComprobarSeguridadTablaGrupos</servlet-name>
	<servlet-class>module.ComprobarSeguridadTablaGrupos</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>ComprobarSeguridadTablaGrupos</servlet-name>
	<url-pattern>/ComprobarSeguridadTablaGrupos.do</url-pattern>
</servlet-mapping>
<servlet>
	<servlet-name>index</servlet-name>
	<servlet-class>module.index</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>index</servlet-name>
	<url-pattern>/index</url-pattern>
</servlet-mapping>
<servlet-mapping>
	<servlet-name>RegistrarUsuario</servlet-name>
	<url-pattern>/RegistrarUsuario.do</url-pattern>
</servlet-mapping>
<servlet>
	<servlet-name>CargarCuestionario</servlet-name>
	<servlet-class>module.CargarCuestionario</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>CargarCuestionario</servlet-name>
	<url-pattern>/CargarCuestionario.do</url-pattern>
</servlet-mapping>
<servlet>
	<servlet-name>quizStats</servlet-name>
	<servlet-class>module.quizStats</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>quizStats</servlet-name>
	<url-pattern>/quizStats</url-pattern>
</servlet-mapping>
<servlet>
	<servlet-name>enviarRespuestas</servlet-name>
	<servlet-class>module.enviarRespuestas</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>enviarRespuestas</servlet-name>
	<url-pattern>/enviarRespuestas</url-pattern>
</servlet-mapping>
<servlet>
	<servlet-name>CrearAlumno</servlet-name>
	<servlet-class>module.CrearAlumno</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>CrearAlumno</servlet-name>
	<url-pattern>/CrearAlumno.do</url-pattern>
</servlet-mapping>
<servlet>
	<servlet-name>CrearAdmin</servlet-name>
	<servlet-class>module.CrearAdmin</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>CrearAdmin</servlet-name>
	<url-pattern>/CrearAdmin.do</url-pattern>
</servlet-mapping>
<servlet>
	<servlet-name>BorrarAlumno</servlet-name>
	<servlet-class>module.BorrarAlumno</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>BorrarAlumno</servlet-name>
	<url-pattern>/BorrarAlumno.do</url-pattern>
</servlet-mapping>
<servlet>
	<servlet-name>BorrarAdmin</servlet-name>
	<servlet-class>module.BorrarAdmin</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>BorrarAdmin</servlet-name>
	<url-pattern>/BorrarAdmin.do</url-pattern>
</servlet-mapping><servlet>
	<servlet-name>CrearGrupo</servlet-name>
	<servlet-class>module.CrearGrupo</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>CrearGrupo</servlet-name>
	<url-pattern>/CrearGrupo.do</url-pattern>
</servlet-mapping>
<servlet>
	<servlet-name>BorrarGrupo</servlet-name>
	<servlet-class>module.BorrarGrupo</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>BorrarGrupo</servlet-name>
	<url-pattern>/BorrarGrupo.do</url-pattern>
</servlet-mapping>

</web-app>
