<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
<description>sistemas</description>
<display-name> Prueba </display-name>
<welcome-file-list>
   <welcome-file>index.html</welcome-file>
</welcome-file-list>
<servlet>
	<servlet-name>ComprobarUsuario</servlet-name>
	<servlet-class>module.ComprobarUsuario</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>ComprobarUsuario</servlet-name>
	<url-pattern>/ComprobarUsuario.do</url-pattern>
</servlet-mapping>
<servlet>
	<servlet-name>ComprobarSesion</servlet-name>
	<servlet-class>module.ComprobarSesion</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>ComprobarSesion</servlet-name>
	<url-pattern>/ComprobarSesion.do</url-pattern>
</servlet-mapping>
<servlet>
	<servlet-name>ComprobarSeguridad</servlet-name>
	<servlet-class>module.ComprobarSeguridad</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>ComprobarSeguridad</servlet-name>
	<url-pattern>/ComprobarSeguridad.do</url-pattern>
</servlet-mapping>
</web-app>
